@font-face {
    font-family: "Grtsk Peta Medium",sans-serif;
    src: url(../../fonts/GrtskPetaBkslnt-Medium.ttf);
}
@font-face {
    font-family: "Grtsk Peta Bold",sans-serif;
    src: url(../../fonts/GrtskPetaBkslnt-Bold.ttf);
}